@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", sans-serif;

    background-color: #f5f5f5;

    scroll-behavior: smooth;
}

.green-span {
    color: #038372;
    text-transform: capitalize;

    text-align: center;
}

.big-green-button-standard {
    padding: 0.8em 1.5em;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    background-color: #038372;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.22s ease-in-out;
    text-decoration: none;
}

.big-green-button-standard:visited {
    color: #fff;
    background-color: #026c63;
}

.big-green-button-standard:hover {
    color: #fff;
    background-color: #026c63;
}

.big-green-button-standard:active {
    color: #fff;
    background-color: #015d57;
}

.medium-green-button-standard {
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #038372;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.22s ease-in-out;
    text-decoration: none;

    margin-top: 1em;
}

.medium-green-button-standard:visited {
    color: #fff;
    background-color: #026c63;
}

.medium-green-button-standard:hover {
    color: #fff;
    background-color: #026c63;
}

.medium-green-button-standard:active {
    color: #fff;
    background-color: #015d57;
}

/* Login and SignUp Page Commons */

.main-container-login-signup-page {
    display: flex;
    height: 90vh;

    justify-content: space-between;

    user-select: none;

    animation: fadeIn 0.4s ease-in-out;
}

.left-container-login-signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 40vw;
}

.left-container-login-signup-page > h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.5em;
}

.left-container-login-signup-page > p {
    margin-top: 1em;
}

.left-container-login-signup-page > h1,
.left-container-login-signup-page > p {
    margin-left: 30%;
}

.default-login-signup-redirect {
    margin-top: 1em;
}

.login-signup-redirect-link {
    color: #646464;
}

.login-signup-redirect-link:link {
    color: #646464;
}

.login-signup-redirect-link:visited {
    color: #646464;
}

.login-signup-redirect-link:hover {
    color: #333;
}

.login-signup-redirect-link:active {
    color: #333;
}

.input-container-login-signup-page > input {
    width: 80%;
    padding: 0.5em 1em;
    margin: 0.5em 0;

    font-size: 1rem;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}