

.first-inner-first-section-landing-page { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f5f5f5;

    overflow-x: hidden;

    padding: 0 4em;

    gap: 10em;
}

.first-inner-first-section-landing-page > h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #333;
}

.first-inner-first-section-landing-page > img {
    width: 40%;
}