.main-form-signup-page {
    margin-left: 30%;
}

.input-container-signup-page > input {
    width: 100%;
    padding: 0.5em 1em;
    margin: 0.5em 0;

    font-size: 1rem;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main-form-signup-page > .medium-green-button-standard {
    margin-top: 1em;
}

.right-container-signup-page {
    display: flex;
    align-items: center;

    width: 70vw;

    animation: fadeIn 1.2s ease-in-out;
}

.right-container-signup-page > h1 {
    font-size: 6vmax;

    padding-right: 10%;
}