.main-form-signup-page {
    margin-left: 30%;
}

.right-container-signup-page {
    display: flex;
    align-items: center;

    width: 70vw;

    animation: fadeIn 1.2s ease-in-out;
}

.right-container-signup-page > h1 {
    font-size: 6vmax;

    padding-right: 10%;
}